.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title {
  height: 50px;
}

.card-subtitle {
  height: 40px;
}

.card-text {
  height: 100px;
}

.card-img-top {
  max-height: 350px;
  max-width: 280px;
}
