<div class="container">
  <div class="row search-bar">
    <div class="col-4">
      <p-multiSelect [options]="categories" [(ngModel)]="selectedCategories"
                     optionLabel="name" optionValue="id" placeholder="Filter by categories"></p-multiSelect>
    </div>
    <div class="col-8">
      <input class="me-1" type="text" pInputText [(ngModel)]="searchFieldValue" placeholder="Search by title or description" />
      <button pButton pRipple label="Search" icon="pi pi-search" (click)="searchData()"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let movie of movies;">
      <app-movie-card
        class="d-flex justify-content-center"
        [movie]="movie"
        (openMovieDetailModal)="toggleMovieDetailsModal($event)"></app-movie-card>
    </div>
  </div>
</div>

<p-dialog [header]="selectedMovie?.title" [(visible)]="showDialog" [style]="{width: '50vw'}">
  <app-movie-card-modal class="d-flex justify-content-center" [movie]="selectedMovie"></app-movie-card-modal>
</p-dialog>
